@model int


<h2>Ingrese su cuenta bancaria</h2>
<br />
<form method="post">

    <input type="text" class="form-control" placeholder="Cuenta" name="cuenta"/>
    <input type="hidden" name="idSubasta" value="@Model" />

    </br>
    <input type="submit" class="btn btn-primary" value="Continuar"/> 

</form>
