@{
    ViewBag.Title = "Home Page";
}
<style>
    p {
        color: #6c757d;
        font: 'Cabin Regular';
        font-size: 80%;
    }

    h5 {
        color: black;
        font: 'Cabin Regular';
    }
</style>


<div class="jumbotron">
    <a class="navbar-brand" href="~/Home">
        <center><img src="~/Resorces/Images/La Cuevita Negro S.png" alt="Logo" width="50%"></center>
    </a>

    <p>Hoy en día la estrategía de produción de las industrias provoca un daño irreversible. La emisión de gases contaminantes, los gastos de energía no renovables, la contaminación de aguas con sustancias químicas, son algunas de las consecuencias de las estrategías de producción. Este sitio esta dedicado a hacer las compras mas sostenible para el mundo, ayudando a nuestros clientes a disminuir su huella de carbón y exhortando a sacar el máximo de los productos. Nosotros además de contribuir a disminuir la contaminación ofrecemos a nuestros clientes productos de calidad y a precios accequibles.</p>
    <h5>Disfruta de compras de segunda mano de primera clase!</h5>

</div>